.filter {
  box-sizing: border-box;
  width: 220px;
  height: 100%;
  padding: 18px;
  margin-right: 7px;
  .title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--el-color-info-dark-2);
    letter-spacing: 0.5px;
  }
  .el-input {
    margin: 0 0 15px;
  }
  .el-scrollbar {
    :deep(.el-tree) {
      font-size: var(--pure-el-tree-font-size);
      height: 80%;
      overflow: auto;
      .el-tree-node__content {
        cursor: pointer;
        height: var(--pure-el-tree-node-height);
        line-height: var(--pure-el-tree-node-height);

        .el-icon{
          margin-right: 5px;
        }
      }
    }
    :deep(.el-tree--highlight-current) {
      .el-tree-node.is-current > .el-tree-node__content {
        background-color: var(--el-color-primary);
        border-radius: 3px;

        .el-tree-node__label,
        .el-tree-node__expand-icon {
          color: white;
        }

        .is-leaf {
          color: transparent;
        }
      }
    }
  }
}
